*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
  }


nav{
    background: white;
    height: 80px;
    width: 100%;
  }


label.logo{
    color: whitblacke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
 
nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}


a.active,a:hover{
    background-color: rgb(67, 116, 136);
    transition: .5s;
    color: white;
}



body {
    background-color: rgb(67, 116, 136);
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 520px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 3px;
  }
  
 
  h1 {
    text-align: center;
    padding-top: 2px;
  }
  
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 13px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(67, 116, 136);
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: black;
    text-decoration: none;
  }

  .para-2 a:hover {
    color: white;
    text-decoration: none;
  }
  